html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { 
    display:block;
}

a {outline: none;}


* html body {width: expression(document.childNodes[1].offsetWidth < 1000 ? '1000px' : 'auto');}
body{background-color:#fff;margin: 40px auto;font-family: Lucida Grande, Verdana, Sans-serif;font-size:14px;color:#4F5155;width: 1000px;}

input, textarea {border:1px solid #999; padding:2px 5px;color:#181d1f;}
.submit {margin-top:10px;}

img {border:0px; display:block;}
li {list-style-type:none;}
a {color: #057f91;font-size:11px;}
a:hover {text-decoration:none;color:#111;}
li {list-style-type:none;}

h1 {color: #444;font-size: 16px;font-weight: bold;margin: 0 0 2px 0;padding: 5px 0 6px 0;}

code {font-family: Monaco, Verdana, Sans-serif;font-size: 12px;background-color: #f9f9f9;border: 1px solid #D0D0D0;color: #002166;display: block;margin: 14px 0 14px 0;padding: 12px 10px 12px 10px;}

header {margin-bottom:30px;}
content li {margin-bottom:20px;background-color: #f9f9f9;border: 1px solid #D0D0D0;padding:15px;}
.date {font-size:11px; float:right;}
p {padding:5px 0;}
label {font-size:12px;}


.content {background-color: #F9F9F9;border: 1px solid #D0D0D0;margin-bottom: 20px;padding: 15px;}
.content li {background: none;border: none;padding:0;margin:0 0 0 30px;list-style: disc;}
content ul li p, .content {font-size: 11px;}


.adminMenu li {background:0;padding:0 30px 0 0;border:0;float:left;}
.adminMenu li a {font-size: 11px;border-bottom:1px dotted;text-decoration: none; font-weight: bold;}
.adminMenu li a.selected {font-size: 15px;text-decoration: none;color:#111;border:0;}


.config, .post, .pages, .users {margin-top:40px;clear:both;}
.menu {margin-top:15px;}
.menu a{padding:20px;}
.config form {margin-top:20px;}

table {width:100%;margin-top:20px;}
tr:first-child {background:#ccc;}
td {padding-bottom:5px;padding-left:10px;}

footer {margin-top:40px;border-top:1px solid #D0D0D0;font-size:11px;padding-top:5px;}